{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.6.4",
        "targets": {
          "ie": 8
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime" // 解决多个地方使用相同代码导致打包重复的问题
      // ,"external-helpers"
    ]
  ],
  "ignore": [
    "node_modules/**"
  ]
}
